
<div class="">

	<div id="notice"><%= notice %></div>

	
	<%= form_tag sessions_path do %>
	<p>
		<div class="field">
			<%= text_field_tag :email , "" , placeholder: "E-mail" , class: "form-control" %>
		</div>  
	</p>
	<p>
		<div class="field">

			<%= password_field_tag :password , "" , placeholder: "Password" , class: "form-control" %>
		</div>
	</p>
	<p>

		<div class="actions">
			<%= submit_tag "Sign In" , class: "btn btn-primary" %>  
		</div>
	</p>
	<% end %>
	
	<a href="/getpass">Forget password ?</a><br> 

</div> 

<% if current_user %>
<% controller.redirect_to root_path , notice: 'You had login.' %>
<% end %> 