 
<div class="admin main content  ">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Title:</strong>
    <%= @admin_article.title %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= @admin_article.image %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= @admin_article.content %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= @admin_article.status %>
  </p>

  <p>
    <strong>Catalogues:</strong>
    <%= @admin_article.catalogues %>
  </p>

  <p>
    <strong>Order:</strong>
    <%= @admin_article.order %>
  </p>

  <%= link_to 'Edit', edit_admin_article_path(@admin_article) , class: "btn btn-primary btn-sm" %>  
  <%= link_to 'Back', admin_articles_path , class: "btn btn-primary btn-sm" %>
</div>
