<%= form_for(@admin_resource)    do |f| %>
<% if @admin_resource.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@admin_resource.errors.count, "error") %> prohibited this admin_resource from being saved:</h2>

  <ul>
    <% @admin_resource.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="field" ng-app="fileDemo">
  <%= f.label :value %><br>
  <%= f.text_field :value , placeholder: "http://domain.com/image.png or choose file upload." , class: "form-control half inblock"  %>  
  
  <%= f.file_field :file ,  multiple: true , name: "attachment[file][]", class: "inblock" %> 
  
  <%#= f.file_field :file ,   class: "inblock" %> 

</div> 

<div class="field">
  <%= f.label :group %><br>
  <%= f.select :group, [['Image', "image"], ['File', "file"] , ['Document', "document"],['Other', "other"]] ,{} , {class: "form-control _25"} %>
</div>
<br> 
<div class="actions">
  <%= f.submit  class: "btn btn-success" %>
</div>
<% end %>


