<br>
<div class="col-md-3 col-sm-6 col-xs-12">
  <div class="info-box">
    <span class="info-box-icon bg-aqua"><i class="ion ion-ios-gear-outline"></i></span>

    <div class="info-box-content">
      <span class="info-box-text"><a href="<%= admin_options_path %>">Options setting</a></span>
      <span class="info-box-number"><%= @options_count %> </span>
    </div>
    <!-- /.info-box-content -->
  </div>
  <!-- /.info-box -->
</div>
<!-- /.col -->
<div class="col-md-3 col-sm-6 col-xs-12">
  <div class="info-box">


   <span class="info-box-icon bg-green"><i class="fa fa-files-o"></i></span>

   <div class="info-box-content">
    <span class="info-box-text"><a href="<%= admin_resources_path %>">Uploads</a></span>
    <span class="info-box-number"><%= @resources_count %>  </span> 
  </div>
  <!-- /.info-box-content -->


</div>
<!-- /.info-box -->
</div>
<!-- /.col -->


<!-- /.col -->
<div class="col-md-3 col-sm-6 col-xs-12">
  <div class="info-box">
    <span class="info-box-icon bg-yellow"><i class="ion ion-ios-people-outline"></i></span>

    <div class="info-box-content">
      <span class="info-box-text"><a href="<%= admin_users_path %>">Users</a></span>
      <span class="info-box-number"><%= @users_count %> </span>  
    </div>
    <!-- /.info-box-content -->
  </div>
  <!-- /.info-box -->
</div>
<!-- /.col -->


<br>

  